<ul class="user">
    <% for(var i=0; i<user.length; i++) {%>
      <li class="aaa">
        <span><%= user[i].first_name %></span>
        <span><%= user[i].last_name %></span>
      </li>
    <% } %>
</ul>